<!--/* 标签页 */-->
<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: layout(_title = ~{::title}, _header = ~{::header}, _content = ~{::content},path='tag')}"
>
  <th:block th:fragment="title">
    <th:block th:text="${tag.spec.displayName} + '|' + ${site.title}"></th:block>
  </th:block>
<!--原主题
  <th:block th:fragment="header">
    <div class="tag-header">
      <th:block
        th:replace="~{macro/page-header :: page-header(extension = ${tag}, frontCover = ${tag.spec.cover}, headerTitle = ~{::headerTitle})}"
      />
    </div>
  </th:block>-->
  <th:block th:fragment="header">
    <div id="page-site-info">
      <h1 id="site-title" th:text="${tag.spec.displayName}"></h1>
      
    </div>
  </th:block>
  <th:block th:fragment="headerTitle">
    <h1 data-i18n="page.tags.item.title" th:i18n-options="|{title: '${tag.spec.displayName}'}|"></h1>
  </th:block>

  <th:block th:fragment="content">
    <div id="tag">
      <div class="article-sort-title" th:text="'标签'+' - '+${tag.spec.displayName}"></div>
      <th:block  th:with="postItems=${posts.items}">
        <div class="article-sort">
          <div class="article-sort-item"  th:each="post : ${postItems}">
            <a class="article-sort-item-img" th:href="@{${post.status.permalink}}" th:alt="${post.spec.title}">
              <img data-lazy-src="http://img.netbian.com/file/2024/0323/small0012132yPPt1711123933.jpg" 
              th:alt="${post.spec.title}" 
              onerror="this.onerror=null;this.src='http://img.netbian.com/file/2024/0323/small0012132yPPt1711123933.jpg'" 
              data-ll-status="loaded" 
              class="entered loaded" 
              th:src="${post.spec.cover}">
            </a>
            <div class="article-sort-item-info">
              <div class="article-sort-item-time">
                <i class="far fa-calendar-alt"></i>
                <time class="post-meta-date-created" datetime="2022-06-26T14:26:47.000Z" title="发表于 2022-06-26 14:26:47">2022-06-26</time>
              </div>
              <a class="article-sort-item-title" th:href="@{${post.status.permalink}}" th:text="${post.spec.title}">文章标题</a>
            </div>
          </div>
        </div>
      </th:block>
      
      <!-- 分页 -->
      <nav id="pagination" >
        <th:block th:replace="~{module/home/list-nextprev-custom :: pagination(${posts},'/tags/' + ${tag.spec.slug})}"></th:block>
      </nav>
    </div>
  </th:block>
  <!--原主题
  <th:block th:fragment="content">
    <div id="primary" th:with="postItems=${posts.items}">
      <main id="main" class="site-main" role="main">
        <th:block th:if="${posts.totalPages gt 0}">
          <th:block th:each="post : ${postItems}">
            <th:block th:replace="~{macro/content :: content(${post})}" />
          </th:block>
          <div class="clearer"></div>
        </th:block>
        <th:block th:unless="${posts.totalPages gt 0}">
          <th:block th:replace="~{macro/content-none}" />
        </th:block>
      </main>
      <th:block th:replace="~{module/list-pagination :: pagination(${posts})}"></th:block>
    </div>
  </th:block>
  -->
</html>
